.blog {
  .site-content {

    //CONTENT
    .site-main {
      @include container();
      .main-header {
        border: 2px solid darkslateblue;
      } //header
      article {
        padding-right: 0px;

        border-right: none;
        .index-box {
          max-width: 600px;
          padding: 1em 0px 10px;
          background: $yellowlight;
          display: block;
          margin: 0px auto;
          .entry-header {
          } //.entry-header
          .entry-summary {
            p {
              color: #0A246A;
              text-align: justify;
            } //p
            .single-post-thumbnail {
              img {
                width: 90%;
                display: block;
                margin: 0px auto;
              } //img
            } //.single-post-thumbnail

          } //.entry-summary
          .entry-footer {
            margin-bottom: 0px;
            .continue-reading {
              display: block;
              width: auto;
              margin: 0px auto;
              text-align: center;
            } //.continue-reading
          } //.entry-footer
        } //.index-box
      } //article
    } //.site-main

    //SIDEBAR
    .widget-area {
      border: 3px solid gold;
      @include container();
    } //.widget-area

  } // .site-content
} //.blog