.blog,
.archive,
.search,
.error404 {
  .site-content {
    //CONTENT
    .site-main {
      @include container();
      .main-header {
        padding: 50px 0px 30px;
        h2 {
          font-family: $font_copy;
          font-size: 2.6em;
          font-weight: 300;
          color: $magentadark;
          text-transform: uppercase;
          text-align: center;
          margin-bottom: 20px;
          @include breakpoint($tablet) {
            font-size: 2.2em;
            margin-bottom: 20px
          } //breakpoint($tablet)
          @include breakpoint($iphone) {
            margin-bottom: 20px;
            padding: 0px 1em;
            font-size: 2em;
          } //breakpoint($iphone)
        } //h2
        h3 {
          font-family: $font_copy;
          font-size: 1.8em;
          font-weight: 100;
          color: $greydark;
          text-transform: uppercase;
          text-align: center;
          margin-bottom: 10px;
          span {
            //color: $magentadark;
            font-weight: 400;
          }
          @include breakpoint($tablet) {
            font-size: 2.2em;
            margin-bottom: 20px
          } //breakpoint($tablet)
          @include breakpoint($iphone) {
            margin-bottom: 20px;
            padding: 0px 1em;
            font-size: 2em;
          } //breakpoint($iphone)
        } //h3
        p {
          text-align: center;
          line-height: 1.6;
          font-size: 1.1em;
          font-weight: 300;
          color: $grey;
          width: 60%;
          @include breakpoint($laptop) {
            @include container(850px);
            display: block;
            margin: 0px auto;
          }
          @include breakpoint(650px) {
            width: 80%;
            display: block;
            margin: 0px auto;
          }
          @include breakpoint($iphone) {
            width: 80%;
            display: block;
            margin: 0px auto;
            font-size: 1.1em;
          }
        } //p

      } //.main-header

      //MASONRY
      #grid {
        margin: 0px auto;
        @include clearfix();
        .grid-item {
          float: left;
          width: 270px;
          @include breakpoint($tablet) {
            width: 320px;
          }
          @include breakpoint($iphone) {
            width: 90%;
            margin: 0px 5% 0px;
          }
          margin: 0px 10px 10px;
          height: auto;

          article {
            padding-right: 0px;
            border-right: none;
            @include breakpoint($laptop) {
              border-right: none;
              border-left: none;
              padding-left: 0px;
            } //breakpoint($laptop 1199px)
            .index-box {
              max-width: 600px;
              padding: 0px;
              display: block;
              margin: 0px auto;
              margin-bottom: 30px;
              @include breakpoint($iphone) {
                margin-bottom: 10px;
              }
              border-bottom: 1px solid $greylight;
              .entry-header {
                .single-post-thumbnail {
                  margin-top: 0px;
                  img {
                    width: 100%;
                    height: auto;
                    display: block;
                    margin: 0px auto;
                    border-radius: 0px;
                    padding-top: 0px;
                  } //img
                } //.single-post-thumbnail
                .entry-title {
                  font-family: $font_copy;
                  font-size: 1.4em;
                  line-height: 1.2;
                  font-weight: 300;
                  margin: 0px 0px 0.5em 0px;
                  a {
                    color: $grey;
                    @include single-transition();
                    @include transition-duration(0.3s);
                    &:hover {
                      color: darken($magentamed, 5) !important;
                    } //&:hover
                    &:visited {
                      color: $grey;
                    } //&:visited
                  } //a
                } //.entry-title
              } //.entry-header
              .entry-summary {
                p {
                  color: $greymed;
                  text-align: justify;
                  margin: 1em 0px 0px !important;
                  font-weight: 300;
                } //p
              } //.entry-summary

              .entry-footer {
                margin-top: 0px !important;
                margin-bottom: 0px;
                .continue-reading {
                  display: block;
                  width: auto;
                  margin: 0px auto 10px;
                  text-align: left;
                  a {
                    color: $grey;
                    @include single-transition();
                    @include transition-duration(0.3s);
                    &:hover {
                      color: darken($magentamed, 5) !important;
                    } //&:hover
                    &:visited {
                      color: $grey;
                    } //&:visited
                  } //a
                } //.continue-reading
              } //.entry-footer
            } //.index-box
          } //article
        } //.grid-item
      } //#grid

    } //.site-main

    //SIDEBAR
    .widget-area {
      @include container();
    } //.widget-area

  } // .site-content
} //.blog