/* STYLES FOR CANVAS FREE PAGE TEMPLATE*/

/*******************************************
// LA EMPRESA
********************************************/

#la-empresa {
	width: 100%;
	min-height: 500px;

	// PAGE Title
	h2 {
    font-family: $font_copy;
    font-size: 2.6em;
    font-weight: 300;
    color: $magentadark;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px 0px;
    @include breakpoint($tablet) {
      font-size: 2.2em;
      margin-bottom: 20px
    } //breakpoint($tablet)
    @include breakpoint($iphone) {
      margin-bottom: 20px;
      padding: 0px 1em;
      font-size: 2em;
    } //breakpoint($iphone)
	} //h2

	// INTRO
	.intro {
		width: 100%;
		height: auto;
        padding: 0px;
		margin-bottom: 20px;
		.intro-info {
			@include container();
			padding: 0px 0px 20px;
			.content-center {
				margin: 20px 0px;
        border-right: none;
				@include breakpoint($desktop) {
					border-left: none;
					width: 800px;
					display: block;
					margin: 0px auto;
				}
                @include breakpoint($laptop) {
                  border-left: none;
                  width: 700px;
                  display: block;
                  margin: 0px auto;
                }
                @include breakpoint($tablet) {
                  border-left: none;
                  width: 600px;
                  display: block;
                  margin: 0px auto;
                }
                @include breakpoint($iphone) {
                  border-left: none;
                  width: 90%;
                  display: block;
                  margin: 0px auto;
                }
				p {
					font-size: 1.1em;
					text-align: justify;
            @include breakpoint($desktop) {
              line-height: 2;
              font-size: 1.3em;
            }
            @include breakpoint($iphone) {
              line-height: 1.6;
              font-size: 1em;
              text-align: center;
            }
					line-height: 1.8;
					font-weight: 300;
					color: $greymed;
				} //p
			} //.content-center
		} //.intro-info
	} //.intro

	// ABOUT
	.about {
		width: 100%;
		background-color: darken($snow, 10);
    padding: 1em 0px 2em;
		.about-info {
			@include container();
			.about-content {
				width: 1000px;
				display: block;
				margin: 0px auto 30px;
				@include clearfix();

				@include breakpoint($desktop) { //1200px;
					width: 1100px;
					padding: 0px 30px;
					h2 {
						font-family: $font_copy;
						font-size: 2em;
						text-align: center;
						margin-bottom: 0px;
					} //h2
					.about-image {
						@include span(7 of 12);
						img {
							width: 90%;
							height: auto;
							margin: 30px auto 0px;
						} //img
					} //.about-image
					.txt-content {
						@include span(5 of 12);
						margin: 30px auto 0px;
						float: right;
						p {
							text-align: justify;
							font-size: 1em;
							font-weight: 300;
							color: $greymed;
						} //p
					} //.txt-content
				} //breakpoint($desktop)

				@include breakpoint($laptop) { //990px;
					width: 960px;
					padding: 0px 20px;
					h2 {
						font-size: 1.8em;
						text-align: center;
						margin-bottom: 20px;
					} //h2
					.about-image {
						@include span(6 of 12);
						float: left;
						img {
							width: 95%;
							height: auto;
							margin: 0px auto;
						} //img
					} //.about-image
					.txt-content {
						@include span(6 of 12);
						margin: 0px auto;
						float: right;
						p {
							text-align: justify;
							font-size: 1em;
							font-weight: 300;
							color: $greymed;
						} //p
					} //.txt-content
				} //breakpoint($laptop 1199px)

				@include breakpoint($tablet) { //700px 989px;
					width: 670px;
					h2 {
						font-size: 2em;
						text-align: center;
						margin-bottom: 0px;
					} //h2
					.about-image {
						img {
							width: 80%;
							height: auto;
							display: block;
							margin: 20px auto 30px;
						} //img
					} //.about-image
					.txt-content {
						width: 80%;
						display: block;
						margin: 20px auto;
            color: $greymed;
						p {
							text-align: justify;
							font-size: 1em;
						} //p
					} //.txt-content
				} //breakpoint($tablet)

				@include breakpoint($iphone) { //max-width 699px;
					width: 90%;
					padding-top: 20px;
					h2 {
						font-size: 1.6em;
						text-align: center;
						margin-bottom: 0px;
					} //h2
					.about-image {
						img {
							width: 90%;
							height: auto;
							display: block;
							margin: 20px auto 30px;
						} //img
					} //.about-image
					.txt-content {
						width: 90%;
						display: block;
						margin: 20px auto;
            color: $greymed;
						p {
							text-align: justify;
							font-size: 1em;
						} //p
					} //.txt-content
				} //breakpoint($iphone)

			} //.about-content
		} //.about-info
	} //.about

	// CTA
	.cta {
		width: 100%;
		min-height: 400px;
		padding-top: 100px;
		@include back-image('http://localhost/~ronyortiz/pleiadesweb/wp-content/themes/pleiadesweb/images/misc/parallax4.jpg');
		.cta-info {
			@include container(90%);
			h3 {
				color: $white;
				font-weight: 500;
				text-align: center;
				line-height: 1.4;
				text-transform: uppercase;
				font-size: 1.8em;
                margin-bottom: 10px;
				@include breakpoint($iphone) {
					line-height: 1.6;
					font-weight: 400;
					font-size: 1.4em;
					margin-bottom: 20px;
				} //breakpoint($iphone)
			} //h3
            p {
              color: $magentamed;
              text-align: center;
              line-height: 1.2;
              font-size: 1.4em;
              font-weight: 700;
            } //p
			.cta-button {
				text-align: center;
				margin-top: 40px;
				@include breakpoint($iphone) {
					margin-top: 40px;
				}
				a {
					border: 3px solid $snow;
					@include border-radius(15px); 
					padding: 10px 25px; 
					color: $snow;
					font-weight: 600;
					@include single-transition();
					@include transition-duration(0.5s);
					&:hover {
						border: 3px solid $magentamed;
						background-color: rgba($magentadark, 0.3);
						color: $snow;
					} //&:hover 
				} //a
			} //.cta-button
		}
	} //.cta

	// EXTRA
	.extra {
		width: 100%;
		background-color: darken($snow, 10);
		.extra-info {
			@include container();
			@include clearfix();
			padding: 50px 100px;
			.txt-content {
				border: 1px solid green;
				float: right;
			} //.txt-content
		} //.about-info
	} //.about
} //#la-empresa 

/*******************************************
// SERVICIOS
********************************************/

#servicios {
	width: 100%;
	min-height: 450px;
	
	// INTRO
	.intro {
		width: 100%;
		height: auto;
		.intro-info {
			@include container();
			padding: 50px 0px;
      @include breakpoint($tablet) {
        padding: 40px 0px;
      }
      @include breakpoint($iphone) {
        padding: 30px 0px;
      }
			h2 {
				font-family: $font_copy;
				font-size: 2.6em;
				font-weight: 300;
				color: $magentadark;
				text-transform: uppercase;
				text-align: center;
				margin-bottom: 40px;
				@include breakpoint($tablet) {
					font-size: 2.2em;
          margin-bottom: 20px
				} //breakpoint($tablet)
				@include breakpoint($iphone) {
          margin-bottom: 20px;
          padding: 0px 1em;
          font-size: 2em;
				} //breakpoint($iphone)
			}
			p {
				text-align: center;
				line-height: 1.6;
				font-size: 1.2em;
				font-weight: 200;
				color: $grey;
        @include breakpoint($tablet) {
          width: 90%;
          display: block;
          margin: 0px auto;
          line-height: 1.4;
        }
        @include breakpoint($iphone) {
          width: 90%;
          display: block;
          margin: 0px auto;
          font-size: 1.1em;
          line-height: 1.2;
        }
			} //p
		} //.intro-info
	} //.intro

	// SERVICE DESCRIPTION
	.serv-desc {
		width: 100%;
		padding: 30px 0px 30px;
		@include background-image(linear-gradient(bottom, $white, darken($snow, 2)));
		.serv-desc-info {
			@include clearfix;
			@include container();

			//BOXES
			ul {
				@include clearfix();
        @include breakpoint($laptop) {
          @include container(980px);
        }
        @include breakpoint($tablet) {
          @include container(650px);
        }
        @include breakpoint($iphone) {
          @include container(80%);
        }
				li {
          height: 260px;
					margin: 0px;
					display: inline-block;
          padding-top: 1.38889%;
          padding-bottom: 1.38889%;
          @include breakpoint($desktop) {
            @include span(1 of 4);
          }
          @include breakpoint($laptop) {
            @include span(1 of 4);
            height: 240px;
          }
          @include breakpoint($tablet) {
            @include span(1 of 2);
            height: 220px;
            margin: 0px 0px 1em;
          }
          @include breakpoint($iphone) {
            //@include span(1 of 1);
            height: 280px;
            width: auto;
            margin: 1em auto;
            display: block;
          }
					.box {
						width: 100%;
						height: 100%;
						display: block;
            padding: 3%;
            cursor: pointer;
            @include single-transition();
            @include transition-duration(0.5s);
            @include flexbox((
              display: flex,
              align-items: center,
              justify-content: center
            ));
						article {
							margin: 0px;
							padding: 0px;
							border-right: none;
							border-left: none;
              border-bottom: 2px solid rgba($magentalight, 0.4);
              @include single-transition();
              @include transition-duration(0.5s);
							h2 {
								text-align: center;
                padding: 0px;
                margin: 0px;
                font-family: $font_copy;
                color: darken($white, 15);
                font-weight: 400;
                @include single-transition();
                @include transition-duration(0.5s);
                @include breakpoint(600px 699px) {
                  font-size: 2em;
                }
                @include breakpoint(max-width 599px) {
                  font-size: 1.6em;
                }
							} //h2
						} //article
					} //.box

          &:first-child {
            .box {
              background: rgb(78, 78, 78) url("http://localhost/~ronyortiz/pleiadesweb/wp-content/themes/pleiadesweb/images/icons/estrategia-consultoria.png") center center;
              background-repeat: no-repeat;
              background-size: 70%;
              &:hover {
                background-color: $magentamed;
                article {
                  border-bottom: 2px solid $snow;
                  h2 {
                    color: $white;
                  } //h2
                } //article
              } //&:hover
            } //.box
          } //&:first-child

					&:nth-child(2) {
						.box {
							background: rgb(78, 78, 78) url("http://localhost/~ronyortiz/pleiadesweb/wp-content/themes/pleiadesweb/images/icons/diseño-creativo.png") center center;
							background-repeat: no-repeat;
							background-size: 70%;
							&:hover {
								background-color: $magentamed;
								article {
									border-bottom: 2px solid $snow;
									h2 {
										color: $white;
									} //h2
								} //article
							} //&:hover
						} //.box
					} //&:nth-child(2)

					&:nth-child(3) {
						.box {
							background: rgb(78, 78, 78) url("http://localhost/~ronyortiz/pleiadesweb/wp-content/themes/pleiadesweb/images/icons/desarrollo-web.png") center center;
							background-repeat: no-repeat;
							background-size: 70%;
							&:hover {
								background-color: $magentamed;
								article {
									border-bottom: 2px solid $snow;
									h2 {
										color: $white;
									} //h2
								} //article
							} //&:hover
						} //.box
					} //&:nth-child(3)

					&:nth-child(4) {
						.box {
							background: rgb(78, 78, 78) url("http://localhost/~ronyortiz/pleiadesweb/wp-content/themes/pleiadesweb/images/icons/marketing-digital.png") center center;
							background-repeat: no-repeat;
							background-size: 70%;
							&:hover {
								background-color: $magentamed;
								article {
									border-bottom: 2px solid $snow;
									h2 {
										color: $white;
									} //h2
								} //article
							} //&:hover
						} //.box
					} //&:nth-child(4)

        } //li


			} //ul
		} //.serv-desc-info
	} //.serv.desc
	
	// CTA
	.cta {
		width: 100%;
		min-height: 400px;
		padding-top: 100px;
		@include back-image('http://localhost/~ronyortiz/pleiadesweb/wp-content/themes/pleiadesweb/images/misc/parallax3.jpg');
		.cta-info {
			@include container(90%);
			@include clearfix();
			h3 {
				color: $white;
				font-weight: 600;
				text-align: center;
				line-height: 2;
				text-transform: uppercase;
				font-size: 1.8em;
				@include breakpoint($tablet) {
					font-size: 1.6em;
					font-weight: 500;
					line-height: 1.8;
					padding-top: 10px;
				}
				@include breakpoint($iphone) {
					font-size: 1.5em;
					font-weight: 400;
					line-height: 1.6;
				}
			} //h3
			.cta-services {
				text-align: center;
				margin-top: 40px;
				display: block;
				 a {
					border: 3px solid $snow;
					@include border-radius(15px); 
					padding: 10px 25px; 
					color: $snow;
					font-weight: 600;
					@include single-transition();
					@include transition-duration(0.5s);
					&:hover {
            border: 3px solid $magentamed;
            background-color: rgba($magentadark, 0.3);
            color: $snow;
					} //&:hover 
				} //a 
			} //.cta-services
		} //.cta-info
	} //.cta

	// CLIENTES
	.clientes {
		@include background-image(linear-gradient(bottom, darken($snow, 20), $white));
		width: 100%;
		padding-top: 30px;
		h2 {
			font-family: $font_copy;
			font-size: 2.6em;
      font-weight: 300;
      color: $magentadark;
      text-transform: uppercase;
			text-align: center;
			margin-bottom: 40px;
			@include breakpoint($tablet) {
				font-size: 1.8em;
			} //breakpoint($tablet)
			@include breakpoint($iphone) {
				font-size: 1.4em;
			} //breakpoint($iphone)
		} //h2
		.clientes-info {
			padding: 30px 10%;
			@include container(80%);
			@include breakpoint(1200px) {
				@include container(70%);
			}
			@include breakpoint($tablet) {
				@include container(90%);
			}
			@include breakpoint($iphone) {
				@include container();
			}
		} //.clientes-info
	} //.clientes
} //#servicios

/*******************************************
// PREGUNTAS FRECUENTES
********************************************/

#preguntas-frecuentes {
	width: 100%;
	min-height: 500px;
	padding-bottom: 0px;
	// PAGE Title
		h2 {
			text-align: center;
			padding: 20px 0px;
			font-size: 3em;
			font-weight: 400;
			color: $blue;
			font-family: $font_copy;
	} //h2
} //#preguntas-frecuentes

/*******************************************
// CONTACT
********************************************/

#contact-main {
	width: 100%;
	min-height: 500px;
	padding-bottom: 0px;
	// PAGE Title
		h2 {
			text-align: center;
			padding: 20px 0px;
			font-size: 3em;
			font-weight: 400;
			color: $greydark;
			font-family: $font_copy;
			margin-top: 10px;
			margin-bottom: 20px;
      @include breakpoint($iphone) {
        font-size: 2.4em;
        margin-top: 5px;
        margin-bottom: 10px;
      } //breakpoint($iphone)
		} //h2

	// CONTACT INFO
	#contact-info {
		display: block;
		@include container();
		margin-bottom: 30px;
		padding-bottom: 20px;
		.contact-address {
			//border: 1px solid green;
			display: block;
			width: auto;
			margin: 0px auto;
			text-align: center;
      h3 {
        font-family: $font_copy;
        font-weight: 300;
        color: $greymed;
        text-transform: uppercase;
        font-size: 2em;
        @include breakpoint($iphone) {
          font-size: 1.4em;
        }
      } //h3
			p {
        color: $grey;
        font-size: 1.3em;
        font-weight: 200;
				@include breakpoint($tablet) {
				font-size: 1.2em;
			}
        @include breakpoint($iphone) {
          font-size: 1.2em;
        }
				a {
					@include single-transition();
          font-weight: 300;
					&:hover {
						color: $magentadark;
					} //&:hover
				} //a
			} //p
		} //.contact-address

	} //#contact-info

	// MAP Styles
	#contact-map {
		@include container(90%);
		width: 100%;
		height: 350px;
		margin: 50px auto;
		padding: 0px;
		#map-canvas {
			height: 100%;
			width: 100%;
			margin: 0px;
			padding: 0px;
			h2 {
				margin: 0px;
				padding: 0px;
				font-size: 18px;
				font-weight: 500;
				margin-bottom: 5px;
				color: $magentadark;
			} //h2
			p {
				margin: 0px;
				padding: 0px;
				line-height: 1.4;
        text-align: center;
			} //p
		}
	} //#contact-map

	// CONTACT INFO
	.contact-form {
		width: 100%;
		padding: 30px 0px;
		margin-top: 0px;
		margin-bottom: 0px;
		@include back-image('http://localhost/~ronyortiz/pleiadesweb/wp-content/themes/pleiadesweb/images/misc/parallax2.jpg');

		// FORM Styles
		.wpcf7 {
			@include container();
			@include clearfix();
			form {
				width: 90%;
				margin: 0px auto;
				p.input {
					display: inline-block;
					padding: 0px;
					color: $snow;
          @include span(1 of 2);
          min-height: 110px;
          font-weight: 200;
          font-size: 1.4em;
          font-family: $font_copy;
					@include breakpoint($iphone) {
						display: block;
						width: 94%;
						clear: both;
						float: none;
						margin: 20px auto 20px;
            font-size: 1.1em;
            min-height: auto;
					}
					text-align: center;
					overflow: hidden;

					input[type=text],
          input[type=email],
          input[type=tel] {
            border: none;
            border: 3px solid $white;
            font-weight: 300;
            background: rgba(lighten($greylight, 15), 0.5);
            padding: 10px;
            font-size: 1em;
            font-family: $font_copy;
            color: darken($blue, 10);
            width: 100%;
            margin: 5px auto 0px;
            display: inline-block;
            @include single-transition();
            @include transition-duration(0.5s);
            &:focus {
            	outline: none;
            	background-color: lighten($yellowmed, 40);
            }
          } //input[type=text], input[type=email], input[type=tel],textarea, button
					.wpcf7-not-valid-tip {
						color: $magentalight;
            font-size: 0.8em;
            font-weight: 300;
            text-align: left;
            margin-top: 5px;
					}
				} //p.input
				p.last {
					margin-right: 0px;
				}
				p.txt {
					width: 94%;
					clear: both;
					float: none;
					text-align: center;
					font-size: 1.4em;
					margin: 20px auto 0px;
					color: $snow;
          font-weight: 200;
          @include breakpoint($iphone) {
            font-size: 1.1em;
          }
					textarea {
						border: none;
						border: 3px solid $white;
            font-weight: 300;
            background: rgba(lighten($greylight, 15), 0.5);
            padding: 10px;
            margin-top: 5px;
            font-size: 1em;
            font-family: $font_copy;
            color: darken($blue, 10);
            width: 100%;
            max-height: 200px;
            margin: 10px auto 0px;
            @include single-transition();
            @include transition-duration(0.5s);
            &:focus {
            	outline: none;
            	background-color: lighten($yellowmed, 40);
            }
					} //textarea
				} //p.txt
				p.send {
					width: 100%;
					clear: both;
					float: none;
					padding: 0px;
					margin-top: 20px;
					input[type=submit] {
						border: none;
						border: 3px solid $white;
						clear: both;
						float: none;
						display: block;
						margin: 0px auto;
						height: 100%;
						padding: 20px 50px;
						font-weight: 600;	
						font-size: 1.2em;
						color: $snow;
						@include border-radius(25px);
						background: rgba($white, 0.2);
						@include single-transition();
						@include transition-duration(0.5s);
						&:focus {
							outline: none;
						}
						&:hover {
							background-color: rgba($snow, 0.8);
							color: $magentadark;
							//border: 3px solid $magentadark;
						}
					}
				} //p.send

        //ALERT BOX
        div.wpcf7-validation-errors {
          border: 2px solid $magenta;
          width: 93%;
          margin: 0px auto;
          color: $snow;
          font-size: 1.3em;
          font-weight: 200;
        }
			} //form
		} //.wpcf7
	} //#contact-form 
} //#contact-main
