body {
	position: absolute;
	width: 100%;
	height: 100%;	
}

// WELCOME 
#welcome {
	@include background-image(linear-gradient(bottom, $snow, $white));
	article {
		text-align: center;
		border-right: none;
		@include container(1100px);
		padding: 30px 0px;
    @include breakpoint ($laptop) {
      @include container(950px);
      border-left: none;
    }
    @include breakpoint($tablet) {
      @include container(850px);
    }
    @include breakpoint($iphone) {
      @include container(100%);
    }
		h2 {
      font-family: $font_copy;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 2.6em;
      color: $magentadark;
      text-align: center;
      margin-bottom: 20px;
      @include breakpoint($iphone) {
        font-size: 2em;
      }
    } //h2
    p {
      font-family: $font_copy;
      color: $grey;
      font-weight: 200;
      font-size: 1.6em;
      display: block;
      text-align: center;
      margin: 0px auto;
      padding: 0px 4em;
      line-height: 1.4;
      @include breakpoint($laptop) {
        font-size: 1.6em;
        padding: 0px 2em;
        line-height: 1.4;
      }
      @include breakpoint($tablet) {
        font-size: 1.4em;
        padding: 0px 1em;
        line-height: 1.4;
      }
      @include breakpoint($iphone) {
        font-size: 1.2em;
        padding: 0px 1em;
        line-height: 1.4;
      }
    } //p
	} //article
} //#welcome

// SERVICES
#services {
	@include background-image(linear-gradient(top right, $white, $greylight));
	padding-top: 60px;
	padding-bottom: 50px;
  @include breakpoint($tablet) {
    padding-top: 40px;
    padding-bottom: 30px;
  }
	@include breakpoint($iphone) {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	h2 {
    font-family: $font_copy;
		text-transform: uppercase;
		font-weight: 300;
		font-size: 2.6em;
		color: $magentadark;
		text-align: center;
		margin-bottom: 40px;
		@include text-shadow();
    @include breakpoint($tablet) {
      font-size: 2.4em;
      margin-bottom: 20px;
    } //breakpoint($iphone)
		@include breakpoint($iphone) {
			font-size: 2em;
			margin-bottom: 20px;
		} //breakpoint($iphone)
	} //text-shadow()
	h3 {
		text-align: center;
		color: $greymed;
		font-weight: 100;
		text-transform: uppercase;
		font-size: 2em;
    @include breakpoint($tablet) {
      font-size: 1.8em;
      padding: 0px 3em;
    }
    @include breakpoint($iphone) {
      font-size: 1.4em;
      padding: 0px 2em;
    }
	}
	#showroom {
		@include clearfix;
		@include container(1040px);
		@include breakpoint($laptop) {
			@include container(900px);
		}
		@include breakpoint($tablet) {
			@include container(600px);
		}
    @include breakpoint($iphone) {
      @include container(80%);
    }

		section {
			h2 {
				font-size: 1.6em;
				text-transform: normal;
				color: $blue;
			} //h2

      @include breakpoint($desktop) {
        @include span(1 of 2);
			  padding: 40px;
      }
			@include breakpoint($laptop) {
				@include span(1 of 2);
				padding: 40px;
			}
			@include breakpoint($tablet) {
				//@include span(1 of 1);
				padding: 10px 30px;
			}
			@include breakpoint(500px 699px) {
				padding: 1rem 2rem;
			}
      @include breakpoint(max-width 499px) {
        padding: 0.5rem 1rem;
      }
			.view {
				height: auto;
				overflow: hidden;
				position: relative;
				text-align: center;
				background: $snow;
				@include breakpoint($tablet) {
					width: auto;
					margin: 20px auto;
				}
				@include breakpoint($iphone) {
          width: auto;
          margin: 0px auto 1rem;
				}
				.mask1,
				.mask2,
				.mask3,
        .mask4,
				.content {
					width: auto;
					height: 100%;
					position: absolute;
					overflow: visible;
					top: 0;
					left: 0;
				} //.mask, .content
				img {
					display: block;
					position: relative;
					width: 100%;
					height: auto;
				} //img
				h2 {
					font-family: $font_copy;
					color: #FFFFFF;
					text-align: center;
					position: relative;
					font-size: 1.6em;
					padding: 15px 10px;
					background: rgba(0, 0, 0, 0.8);
					margin: 20px 0px 20px -10px;
					text-transform: none;
					font-weight: 200;
          @include breakpoint($laptop) {
            font-size: 1.3em;
            padding: 10px;
          }
          @include breakpoint(500px 699px) {
            font-size: 1.4em;
						padding: 1rem 1rem;
          }
          @include breakpoint(max-width 499px) {
            font-size: 1.2em;
            padding: 10px;
          }

				} //h2
				p {
					position: relative;
					color: $greydark;
					text-align: center;
					width: 90%;
					display: block;
					font-weight: 300;
          @include breakpoint($desktop) {
            margin: 10% auto 0px;
            font-size: 1.3em;
            padding: 10px 15px 15px;
          }
          @include breakpoint($laptop) {
            margin: 5% auto 0px;
            font-size: 1.2em;
            padding: 10px 15px 15px;
          }
					@include breakpoint($tablet) {
						margin: 10% auto 0px;
						font-size: 1.5em;
					}
          @include breakpoint(600px 699px) {
            margin: 16% auto 0px;
            font-size: 1.4em;
            width: 80%;
          }
          @include breakpoint(500px 599px) {
            margin: 13% auto 0px;
            font-size: 1.3em;
            width: 80%;
          }
          @include breakpoint(max-width 499px) {
            margin: 12% auto 0px;
            font-size: 1.1em;
          }
				} //p
				a.info1,
				a.info2,
				a.info3,
        a.info4 {
					display: inline-block;
					text-decoration: none;
					color: $greydark;
					background: $greylight;
          text-transform: lowercase;
          font-weight: 400;
          @include single-transition();
					@include breakpoint($desktop) {
            position: absolute;
            padding: 10px 20px;
            bottom: 10%;
            left: 37%;
					} //breakpoint($desktop)
          @include breakpoint($laptop) {
            position: absolute;
            padding: 7px 15px;
            bottom: 5%;
            left: 37%;
          } //breakpoint($laptop)
					@include breakpoint($tablet) {
            position: absolute;
            padding: 10px 20px;
            bottom: 15%;
            left: 40%;
            font-size: 1.2em;
					} //breakpoint($tablet)

          @include breakpoint(500px 699px) {
            position: absolute;
            padding: 10px 20px;
            bottom: 7%;
            left: 40%;
            font-size: 1.2em;
          } //breakpoint(500px 699px)
          @include breakpoint(max-width 499px) {
            position: absolute;
            padding: 8px 15px;
            bottom: 5%;
            left: 40%;
            font-size: 1em;
          } //breakpoint(max-width 499px)


				} //a.info 
				a.info1:hover {
					//background: rgba(0, 0, 0, 0.8);
					color: $magentadark;
				} //a.info1:hover
				a.info2:hover {
					//background: rgba(0, 0, 0, 0.8);
					color: $magentadark;
				} //a.info2:hover
				a.info3:hover {
					//background: rgba(0, 0, 0, 0.8);
					color: $magentadark;
				} //a.info3:hover
        a.info4:hover {
          //background: rgba(0, 0, 0, 0.8);
          color: $magentadark;
        } //a.info3:hover
			} //div.view
			/* CSS3 effect model */
			div.view-tenth {
				img {
					transform: scaleY(1);
					transition: all 0.7s ease-in-out;
				} //img
				.mask1 {
					background: $white url("http://localhost/~ronyortiz/pleiadesweb/wp-content/themes/pleiadesweb/images/misc/bgimg.jpg") repeat center center;
					@include single-transition();
					opacity: 0;
				} //.mask1
				.mask2 {
					background: $white url("http://localhost/~ronyortiz/pleiadesweb/wp-content/themes/pleiadesweb/images/misc/bgimg.jpg") repeat center center;
					@include single-transition();
					opacity: 0;
				} //.mask2
				.mask3 {
					background: $white url("http://localhost/~ronyortiz/pleiadesweb/wp-content/themes/pleiadesweb/images/misc/bgimg.jpg") repeat center center;
					@include single-transition();
					opacity: 0;
				} //.mask3
        .mask4 {
          background: $white url("http://localhost/~ronyortiz/pleiadesweb/wp-content/themes/pleiadesweb/images/misc/bgimg.jpg") repeat center center;
          @include single-transition();
          opacity: 0;
        } //.mask4
				h2 {
					//transform: scale(0);
					//@include single-transition();
				} //h2
				p {
					opacity: 0;
					@include transform(scale(0));
					@include single-transition();
				} //p
				a.info {
					opacity: 0;
					transform: scale(0);
					@include single-transition();
					&:hover {
						@include transition-duration(0.5s);
					}
				}
				&:hover img {
					transform: scale(10);
					opacity: 0.1;
					&.mask {
						opacity: 1;
					} //&.mask
				} //&:hover img
				&:hover .mask1,
				&:hover .mask2,
				&:hover .mask3,
        &:hover .mask4{
					opacity: 1;
				} //&:hover .mask
				&:hover h2,
				&:hover p,
				&:hover a.info {
					transform: scale(1);
					opacity: 1;
				} //&:hover h2, &:hover p, &:hover a.info
			} //div.view-tenth

		} //section
	} //#showroom 
} //#services 

// CALL TO ACTION
#cta-frontpage {
	margin: 0px;
	width: 100%;
	min-height: 300px;
	padding-top: 50px;
	@include back-image('http://localhost/~ronyortiz/pleiadesweb/wp-content/themes/pleiadesweb/images/misc/parallax1.jpg');
	.cta-front {
		@include container(70%);
		padding: 30px 0px;
        border-right: none;
        @include breakpoint($laptop) {
          border-left: none;
        }
		@include breakpoint($iphone) {
			padding: 15px 0px 20px 0px;
      margin-top: 2em;
		}
		h3 {
			text-align: center;
			color: $snow;
			@include breakpoint($iphone) {
				font-size: 1.4em;
				@include text-shadow(0, 0, 0, 'false','transparent');	
			}
			text-transform: lowercase;
			font-family: $font-copy;
			@include text-shadow();
			font-weight: 300;
			font-size: 1.8em;
		} //h3
		.cta-button {
			text-align: center;
			margin-top: 40px;
			a {
				border: 3px solid $snow;
				@include border-radius(15px); 
				padding: 10px 25px; 
				color: $snow;
				font-weight: 600;
				@include single-transition();
				@include transition-duration(0.5s);
				&:hover {
					border: 3px solid $magentamed;
					//@include background-image(linear-gradient(top left, rgba($bluemed, 0.7), darken(rgba($blue, 0.7), 20)));
					background-color: rgba($magentadark, 0.3);
					color: $snow;
				} //&:hover 
			} //a
		} //.cta-button
	} //.cta-front
} //#cta-frontpage

// POR QUE NOSOTROS
#porque-nos {
	background-color: $snow;
	padding: 30px 2em 3em;
	.porque-nos-content {
		@include container();
		margin: 0px auto;
        border-right: none;
        @include breakpoint($laptop) {
          border-left: none;
        }
		h2 {
			margin-top: 20px;
      font-family: $font_copy;
			margin-bottom: 40px;
			font-weight: 300;
      font-size: 2.6em;
			color: $magentadark;
			text-transform: uppercase;
			text-align: center;
			@include text-shadow();
			@include breakpoint($iphone) {
				font-size: 2em;
			} //breakpoint($iphone)
		} //h2
		img {
			max-width: 50%;
			max-height: 40%;
			float: left;
			padding: 20px 0px 0px 30px;
			@include breakpoint($iphone) {
				display: block;
				max-width: 80%;
				max-height: 100%;
				margin: 0px auto;
				padding: 0px;
				float: none;
			} //breakpoint($iphone) 
		} //img
		ul {
			list-style: none;
			margin: 25px 2em 0px 0px;
			padding: 0px;
			height: auto;
			width: 43%;
			float: right;
			@include breakpoint($iphone) {
				display: block;
				width: 100%;
				height: auto;
				margin: 20px auto 1em;
				float: none;
			} //breakpoint($iphone) 
			li {
				@include clearfix;
				margin-bottom: 10px;
				display: block;
				padding: 0px;
				border-bottom: 1px solid darken($snow, 20);
				i {
					//width: 10%;
					height: 100%;
					float: left;
					font-size: 30pt;
					padding-top: 5px;
					color: $greylight;
					vertical-align: middle;
					font-weight: 100;
					@include breakpoint($tablet) {
						font-size: 170%;
					}
					@include breakpoint($iphone) {
						font-size: 150%;
						padding-top: 0px;
						padding-right: 20px;
					} //breakpoint($iphone)
				} //i
				p {
					display: inline;
					width: 85%;
					float: right;
          font-weight: 300;
					font-size: 1.1em;
					text-align: justify;
          color: $greymed;
					@include breakpoint($tablet) {
						font-size: 0.9em;
					} //breakpoint($iphone)
					@include breakpoint($iphone) {
						font-size: 1em;
						float: left;
					} //breakpoint($iphone)
				} //p
			} //li
		} //ul
	} //.porque-nos-content
} //#porque-nos