body {
	position: absolute;
	width: 100%;
	height: 100%;	
}

// INTRO
#masonry {
	width: 100%;
	min-height: 600px;
	
	// Intro`
	.intro {
		@include container();
		padding: 50px 0px 50px;
		h2 {
			font-size: 2em;
			text-align: center;
			font-weight: 500;
			color: $greymed;
			font-family: $font_copy;
		}
		p {
			text-align: center;
			line-height: 1.6;
			font-size: 1.1em;
			font-weight: 300;
			color: $grey;
		} //p
	} //.intro

	// Masonry
	#grid {
		border: 3px solid magenta;
		margin: 0px auto;
		@include clearfix();	
		.grid-item {
			width: 200px;
		} //.grid-sizer, .grid-item
		.grid-item {
			float: left;
			width: 320px;
			margin: 0px 2em 4em 2.5em;
			height: 350px;
			border: 2px solid purple;
		} //.grid-item
	} //#grid
} //#masonry





