	.bubble {
					display: inline-block;
					margin: gutter(3 of 12);
					height: 260px;
					width: 90%;
					@include span(1 of 3);
					margin-right: 20px;
					border: 4px solid $blue;
					h3 {
						text-align: center;
						font-weight: 300;
						font-size: 1.4em;
						color: $grey;
						vertical-align: middle;
					}
				} //div