// ORIGINAL COLORS
$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$my_color: #000000;

// COLOR PALETTE
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

// Greys
$greydark: rgb(38, 38, 38);
$greymed: rgb(88, 85, 90);
$grey: rgb(127, 127, 127);
$greylight: rgb(191, 191, 191);
$snow: rgb(242, 242, 242); 

// Yellows:
$yellowdark: rgb(196, 147, 33);
$yellowmed: rgb(208, 165, 64);
$yellowmedlg: rgb(231, 202, 113);
$yellowlight: rgb(247, 228, 157);

// Blues
$blue: rgb(0, 61, 119);
$bluemed: rgb(0, 100, 196);
$bluelight: rgb(20, 109, 196);

// Orange
$orangedark: rgb(162, 90, 49);
$orangemed: rgb(173, 71, 9); 
$orange: rgb(237, 97, 12); //BASE
$orangelight: rgb(250, 102, 13);


// Orange Yellow NEW
$oryellowdark: 			rgb(121, 76, 14);
$oryellowmed: 			rgb(185, 116, 21);
$oryellow: 					rgb(249, 156, 28); //BASE
$oryellowlight: 		rgb(223, 140, 25);
$oryellowexlight: 	rgb(236, 148, 27);













