// Original fonts
$font__titles: "Titillium Web" ,sans-serif;
$font__copy: "Roboto Slab", serif;
$font__code: Monaco, Consolas, monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

// My fonts
$font_title: "Roboto Slab", serif;
$font_copy: "Titillium Web" ,sans-serif;

// Titillium+Web:200,300,400,400italic,600,600italic,700

// Roboto+Slab:100,300,400,700


