a {
	color: $grey;

	&:visited {
		color: $grey;
	}
	&:hover,
	&:focus,
	&:active {
		color: $greylight;
	}
	&:focus {
		outline: 0;
	}
	&:hover,
	&:active {
		outline: 0;
	}
} //a

.blog-navigation {
  display: block;
  @include container();
  padding: 20px 10px;
  .paging-navigation {
    margin: 0px auto;
    text-align: center;
    ul {
      li {
        display: inline-block;
        a.page-numbers {
          padding: 0.3em 0.7em;
          color: $greymed;
          @include single-transition();
        } //a.page-numbers
        a:hover.page-numbers {
          color: $magentamed;
          cursor: pointer;
        }
        span.page-numbers {
          padding: 0.3em 0.7em;
        } //span.page-numbers
        .current {
          font-weight: 600;
          color: $magentadark !important;
        } //.current
      } //li
    } //ul
  } //.paging-navigation
} //.blog-navigation