/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/

// BASE MENU STRUCTURE
.main-navigation {
  float: right;
  // width: 100%;
  // height: 100%;
  // display: block;
  clear: both;
  @include breakpoint($tablet) {
    display: block;
    float: none;
    clear: both;
    height: 70px;
    margin: 20px auto 0px;
    padding: 0px;
    text-align: center;
  } //breakpoint($tablet)
  @include breakpoint($iphone) {
    display: block;
    float: none;
    clear: both;
    width: 100%;
    text-align: center;
    /* height: 70px;
    margin: 20px auto 0px;
    padding: 0px;*/
  } //breakpoint($iphone)

  // UL 1st level
  ul {
    @include breakpoint(990px) {
      list-style: none;
      float: right;
      margin: 0px;
      padding: 0px 20px 0px 0px;
    }
    @include breakpoint(600px 989px) {
      display: inline-block;
      width: auto;
      margin: 0px auto;
      float: none;
      clear: both;
      list-style: none;
    }
    li {
      height: 100px;
      float: left;
      position: relative;
      padding: 0px;
      margin: 0px 1px;
      @include breakpoint(600px 989px) {
        height: auto;
      }
      a {
        display: block;
        height: 100%;
        text-decoration: none;
        border-top: 5px solid transparent;
        font-family: $font_copy;
        font-size: 1em;
        color: $snow;
        font-weight: 500;
        overflow: hidden;
        padding: 35px 20px;
        @include transition-duration(0.7s);
        @include breakpoint(600px 989px) {
          padding: 20px 20px;
        } //breakpoint(600px 989px)
      } //a 1st level
      &:hover > a {
        border-top: 5px solid tomato;
      } //&:hover > a
      &:hover > ul {
        display: block;
      } 
    } //li 1st level
    // UL 2nd level
    ul {
      height: auto;
      position: absolute;
      left: 0;
      z-index: 99999;
      display: none;
      float: right;
      padding: 0px;
      background: rgba($greydark, 0.6);
      border-top: 1px solid rgba($snow, 0.1);
      li {
        height: auto;
        a {
          width: 130px;
          padding: 25px 20px;
          color: darken($snow, 10);
          font-size: 0.8em;
          @include breakpoint(600px 989px) {
            padding: 15px 20px;
          }
          &:hover {
            color: tomato;
            border-top-color: transparent; 
          }
        } //a 2nd level
      } //li 2nd level
    // UL 3rd level
      ul {
        left: 100%;
        top: 0;
        margin-left: 1px;
        border-left: 1px solid rgba(120, 120, 120, 0.3);
        border-top: none;
      } //ul 3rd level
    } //ul 2nd level
  } //ul 1st level

  // HOVER states

  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a {
    border-top: 5px solid tomato;
  }
  

} //.main-navigation



/* SMALL MENU */
.menu-toggle {
  display: none;
}
.main-mavigation ul {
  display: block;
}

@include breakpoint($iphone) {
  .main-navigation ul {
    display: none;
    padding-left: 0px;
  }
  .menu-toggle,
  .main-navigation.toggled ul {
    display: block;
  }
}

/* Small menu styles */

@include breakpoint($iphone) {
  .menu-toggle {
    display: block;
    width: auto;
    height: auto;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    color: $black;
    font-weight: 100;
    @include transition-duration(0.7s);
    &:hover {
      color: tomato;
    } //&:hover
  } //.menu-toggle 

  .main-navigation.toggled .nav-menu {
    display: block;
    width: 100%;
    border-top: 4px solid rgba(snow, 0.8);
  }
  .main-navigation {
    // UL 1st level
    ul {
      padding-left: 0px;
      display: none;
      width: auto;
      float: none;
      li {
        float: none;
        background-color: $white;
        border-bottom: 1px solid rgba($snow, 0.4);
        a {
          padding: 1.3em 2em;
        } //a 1st level
        &:hover > a,
        &.focus > a {
          background-color: $snow;
          color: $greymed;
        } //&:hover > a, &.focus > a 
      } //li 1st 
      // UL 2nd level
      ul {
        border: 1px solid magenta;
        height: auto;
        position: relative;
        display: block;
        float: none;
        padding: 0px;
        background: inherit;
        li {
          display: block;
          border-bottom: 1px solid rgba($snow, 0.4);
          a {
            padding-left: 4em;
          } //a 2nd level
        } //li 2nd level
        // UL 3rd level
        ul {
          border: 1px solid yellow;
          display: block;
          left: inherit;
          top: inherit;
          border-left: none;
          li {
            padding-left: 6em;
            } //li rd level
        } //ul 3rd level
      } //ul 2nd level
    } //ul 1st level
  } //.main-navigation

} //breakpoint($iphone) 
















