/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/
.main-navigation {
  //position: relative;
  float: right;
  width: 100%;
  height: 100%;
  display: block;
  clear: both;
  // UL 1st level

  /*.centerdiv {
    position: relative;
    display: block;
    margin: 0px auto;
    width: auto;
    text-align: center;
    float: none;*/
    // UL 1st level
    ul {
      list-style: none;
      width: auto;
      float: right;
      margin: 0px;
      padding: 0px;
      li {
        display: inline-block;
        height: auto;
        padding: 0px;
        margin: 0px;
        a {
          display: block;
          padding: 30px 15px 0px 15px;
          height: 100px;
          text-decoration: none;
          border-top: 5px solid transparent;
          font-family: $font_copy;
          font-size: 1em;
          color: $snow;
          font-weight: 500;
          overflow: hidden;
          @include transition-duration(0.7s);
        } //a 1st level
        &:hover > a {
          border-top: 5px solid tomato;
        } //&:hover > a
        &:hover > ul {
          display: block;
        } //
      } //li 1st level 
      // ul 2nd level
      ul {
        height: auto;
        position: absolute;
        left: 0;
        z-index: 99999;
        display: none;
        float: right;
        padding: 0px;
        background: rgba($greydark, 0.6);
        border-top: 1px solid rgba($snow, 0.1);
        li {
          height: auto;
          a {
            width: 130px;
            padding-top: 15px 20px;
            color: darken($snow, 10);
            font-size: 0.8em;
            &:hover {
              color: tomato;
              border-top-color: transparent;
            }
          }
        } //li 1nd level
        ul {
          left: 0;
          top: 0;
          border-left: 1px solid rgba(120, 120, 120, 0.3);
          border-top: none;
        } //ul 3rd level
      } //ul 2nd level
    } //ul 1st level
  // } //.centerdiv

  // HOVER states
  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a {
    border-top: 5px solid tomato;
  }

} //.main-navigation



/* SMALL MENU */
.menu-toggle {
  display: none;
}
.main-mavigation ul {
  display: block;
}

@include breakpoint(max-width 600px) {
  .main-navigation ul {
    display: none;
    padding-left: 0px;
  }
  .menu-toggle,
  .main-navigation.toggled ul {
    display: block;
  }
}










