.site-footer {
  background: darken($greydark, 3);
  min-height: 140px;
  width: 100%;
  margin-top: 0px;
  padding: 30px 0px 50px;
  .footer-main {
    @include container();

    .socialmedia {
      text-align: center;
      ul {
        list-style: none;
        li {
          display: inline-block;
          padding: 0px 10px;
          img {
            width: 40px;
            @include border-radius(10px);
            @include single-transition();
            @include transition-duration(0.5s);
            &:hover {
              background-color: $magentathin;
            } //&:hover
          } //img
        } //li
      } //ul
    } //.socialmedia

    .footer-content {
      margin-top: 2em;
      @include clearfix;
      .footer-widgets {
        margin: 0px auto;
        @include breakpoint($iphone) {
          padding: 0px 3em;
          width: 95%;
        }
        @include breakpoint($tablet) {
          margin-bottom: 1em;
        }
        @include breakpoint($laptop) {
          @include span(9 of 12);
          border-right: 1px solid $greydark;
        }
        @include breakpoint($desktop) {
          @include span(2 of 3);
          border-right: 1px solid $greydark;
        }
        @include clearfix;
        .widget {
          @include breakpoint($tablet) {
            @include span(1 of 3);
          }
          @include breakpoint($laptop) {
            @include span(1 of 3);
          }
          @include breakpoint($desktop) {
            @include span(1 of 3);
          }
          margin-bottom: 2em;
          width: 100%;
          .widget-title {
            font-family: $font_copy;
            text-transform: uppercase;
            text-align: center;
            font-weight: 200;
            color: $snow;
            line-height: 1.7;
            border-bottom: 1px solid $greymed;
            @include breakpoint($iphone) {
              width: 80%;
              margin: 0px auto 10px;
              line-height: 1.5;
              font-size: 1.3em;
            }
            @include breakpoint($tablet) {
              width: 100%;
              margin: 0px auto 10px;
              line-height: 1.5;
              font-size: 1.3em;
            }
            @include breakpoint($laptop) {
              width: 100%;
              margin: 0px auto 10px;
              line-height: 1.5;
              font-size: 1.3em;
            }
          } //.widget-title
          ul {
            li {
              margin-bottom: 7px;
              text-align: center;
              a {
                font-weight: 100;
                line-height: 1;
                text-align: center;
                @include single-transition();
                @include transition-duration(0.3s);
              } //a
            } //li
          } //ul
        } //.widget
      } //.footer-widgets

      .contact-footer {
        @include breakpoint($iphone) {
          padding: 1em 3em;
          text-align: center;
          //width: 70%;
          hr {
            margin: 20px auto;
            text-align: center;
            width: 50%;
          } //hr
        } //breakpoint($iphone)
        @include breakpoint($tablet) {
          text-align: center;
          hr {
            margin: 20px auto;
            text-align: center;
            width: 40%;
          } //hr
        } //breakpoint($tablet)
        @include breakpoint($laptop) {
          text-align: center;
          @include span (3 of 12);
          float: right;
          hr {
            margin: 20px auto;
            text-align: center;
            width: 40%;
          } //hr
        } //breakpoint($laptop)
        @include breakpoint($desktop) {
          text-align: center;
          @include span (1 of 3);
          float: right;
          hr {
            margin: 20px auto;
            text-align: center;
            width: 40%;
          } //hr
        } //breakpoint($desktop)

        height: auto;
        @include clearfix();
        h2 {
          font-family: $font_copy;
          text-transform: uppercase;
          font-weight: 400;
          color: $magentadark;
          line-height: 1.2;
          margin: 0px 0px 10px;
        } //h2
        hr {
          //width: 85%;
          //float: left;
        } //hr
        p {
          color: darken($snow, 10);
          margin: 0px;
          padding: 0px;
          line-height: 1.5;
          font-size: 1em;
          font-weight: 100;
          clear: both;
          a {
            @include single-transition();
            &:hover {
              color: $magentamed;
            } //&:hover
          } //a
        } //p
      } //.contact-footer
    } //.footer-content

  } //.footer-main
} //.site-footer













