.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


/**********************************************/

.site-main {
  margin-top: 1em;

  //ARTICLE (MAIN CONTENT)
  article {
    border-right: 1px solid darken($snow, 20);
    padding-right: 1em;
    @include breakpoint($laptop 1199px) {
      border-right: none;
      border-left: 1px solid darken($snow, 20);
      padding-left: 40px;
    } //breakpoint($laptop 1199px)
    @include breakpoint($iphone) {
      border-right: none;
    } //breakpoint($iphone)
    //HEADER
	.entry-header {

      //TITLE
      .entry-title {
        margin: 0px;
        font-weight: 600;
        font-size: 2em;
        line-height: 1.3em;
        color: $black;
      } //.entry-title

      //META
      .entry-meta {
        color: $grey;

        //POSTED ON
        .posted-on {
          color: $greylight;
          a {
            color: $grey;
            @include single-transition();
            @include transition-duration(0.3s);
            &:hover {
              color: $oryellowmed;
            } //&:hover
          } //a
        } //.posted-on

        //CATEGORY LIST
        .category-list {
          color: $greylight;
          a {
            color: $grey;
            @include single-transition();
            @include transition-duration(0.3s);
            &:hover {
              color: $oryellowmed;
            } //&:hover
          } //a
        } //.category-list

        //BYLINE
        .byline {
          color: $greylight;
          a {
            color: $grey;
            @include single-transition();
            @include transition-duration(0.3s);
            &:hover {
              color: $oryellowmed;
            } //&:hover
          } //a
        } //.byline

        //COMMENTS LINK
        .comments-link {
          color: $greylight;
          a {
            color: $grey;
            @include single-transition();
            @include transition-duration(0.3s);
            &:hover {
              color: $oryellowmed;
            } //&:hover
          } //a
        } //.comments-link

      } //.entry-meta

	} //.entry-header

    //BODY
    .entry-content {
      margin-top: 20px !important;
      h1, h2, h3, h4, h5, h6 {
        margin-bottom: 0.4em;
      } // all headings
      h1 {
        font-size: 1.8em;
        font-weight: 400;
      } //h1
      h2 {
        font-size: 1.6em;
        font-weight: 400;
      } //h2
      h3 {
        font-size: 1.4em;
        font-weight: 300;
      } //h3
      h4 {
        font-size: 1.3em;
        font-weight: 300;
      } //h4
      h5 {
        font-size: 1.2em;
        font-weight: 300;
      } //h5
      h6 {
        font-size: 1.1em;
        font-weight: 300;
      } //h6

      p {
        font-size: 1em;
        line-height: 1.5;
        a {
          @include single-transition();
          &:hover {
            color: $oryellowmed;
            border-bottom: 1px dotted $oryellowmed;
          } //&:hover
        } //a
      } //p
      blockquote p {
        font-size: 1.2em;
      }
    } //.entry-content

    //FOOTER
    .entry-footer {
      margin-top: 2em !important;
      margin-bottom: 3em;
      line-height: 2;
      ul {
        padding: 0px;
        margin: 0px;
        list-style: none;
        li {
          display: inline-block;
          margin-right: 2em;

          a {
            color: $greymed;
            margin-left: 0.5em;
            @include single-transition();
          } //a
          i {
            color: $greymed;
            @include single-transition();
          } //i
          &:hover {
            cursor: pointer;
          }
          &:hover i,
          &:hover a {
            cursor: pointer;
            color: $oryellowmed;
          }
        } //li
      } //ul
    } //.entry-footer

  } //article
  @include breakpoint($laptop 1199px) {
    .comments-area {
      article {
        border-left: none;
      } //article
    } //.comments-area
  }


  //NAVIGATION
  .post-navigation {
    font-size: 18px;
    @include clearfix();
    .post-nav-box {
      padding: 1em 0px;
      margin-bottom: 2em;
      border-top: 1px solid $greylight;
      border-bottom: 1px solid $greylight;
      clear: both;
      @include clearfix();
      .screen-reader-text {
        display: none;
      } //.screen-reader-text
      .nav-links {
        .nav-previous {
          width: 50%;
          float: left;
          padding-right: 15%;
          a {
            color: $bluemed;
            @include single-transition();
            @include transition-duration(0.3s);
            &:hover {
              color: $oryellowmed;
            } //&:hover
          } //a
        } //.nav-previous

        .nav-next {
          width: 50%;
          float: right;
          padding-left: 15%;
          text-align: right;
          a {
            @include single-transition();
            @include transition-duration(0.3s);
            color: $bluemed;
            &:hover {
              color: $oryellowmed;
            } //&:hover
          } //a
        } //.nav-next
      } //.nav-links
    } //.post-nav-box

  } //.post-navigation



} //.site-main


























